<div id="<%= dom_id comment %>">
  <p>
    <strong>User name:</strong>
    <%= comment.user_name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Idea:</strong>
    <%= comment.idea_id %>
  </p>

</div>
